label {
    font-size: 1rem;
}

input {
    width: 8%;
    margin: 0;
    padding-right: 0;
    font-size: 1rem;
    margin-top: 1rem;
}

#error-message{
    text-align:center;
    font-size:larger;
    font-weight: bold;
}